<a class="row" [routerLink]="['/owner/dashboard', shop._id]" (click)="onRowClick($event)">
  <div class="left">
    <picture>
      <img src="{{ apiUrl }}pictures/{{ shop.logoUrl }}" alt="Shop avatar" class="avatar">
    </picture>

    <div class="info">
      <div class="name">{{ shop.name }}</div>
      <div class="meta">
        <span class="dot">•</span>
        <span>Category : {{ shop.category.name }}</span>
      </div>
    </div>
  </div>

  <span class="badge" [class.active]="shop.status==='ACTIVE'" [class.pending]="shop.status==='PENDING'">
    {{ shop.status | uppercase }}
  </span>
</a>
